@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: grey;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

img {
  width: 100%;
  height: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__list {
  display: flex;
  justify-content: space-between;
  width: 383px;
}

.logo__item {
  color: rgb(131, 136, 143);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-align: left;
  text-transform: uppercase;
}

.logo__item:active {
  color: black;
}

/* Tablet - Home */
.greatcoffee__container {
  width: 1281px;
  height: 600px;
  background-image: url(/img/Bitmap.jpeg);
  margin-top: 30px;
  margin-bottom: 160px;
}

.greatcoffee__content {
  padding-top: 100px;
  padding-left: 84px;
  padding-right: 650px;
}

.greatcoffee__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
}

.greatecoffee__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 48px;
  padding-bottom: 56px;
  padding-top: 32px;
  opacity: 0.8;
}

.greatecoffee__btn {
  padding: 17px 34px 16px 34px;
  color: rgb(254, 252, 247);
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px;
  background: rgb(102, 210, 207);
  border: none;
}

.greatecoffee__btn:hover {
  background-color: cadetblue;
}

.ourcollection__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 103px;
}

.ourcollection__title {
  width: 1111px;
  height: 196px;
  opacity: 0.2;
  font-size: 150px;
  font-family: Fraunces;
  margin-right: 165px;
  margin-left: 164px;
}

.ourcollection__item {
  margin-right: 30px;
}

.ourcollection__img {
  width: 255px;
  height: 193px;
  margin-left: 30px;
}

.collection__title {
  color: rgb(51, 61, 75);
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.collection__text {
  color: rgb(51, 61, 75);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 200px;
}

.choose__box {
  width: 1280px;
  height: 577px;
  background-color: #262D35;
  border-radius: 10px;
  margin-left: 80px;
}

.choose__content {
  padding-top: 100px;
  padding-left: 370px;
  padding-right: 370px;
}

.choose__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 32px;
}

.choose__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  opacity: 0.8;
}

.choose__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  height: 382px;
  position: relative;
  bottom: -86px;
  left: 85px;
}

.choose__item {
  border-radius: 8px;
  width: 350px;
  height: 382px;
  background: rgb(14, 135, 132);
}

.choose__img {
  width: 71px;
  height: 72px;
  margin-top: 72px;
  margin-left: 135px;
  margin-right: 140px;
  margin-bottom: 56px;
}

.chooseitem__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces 9pt;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 24px;
}

.chooseitem__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  padding-left: 47px;
  padding-right: 48px;
}

.worktype__box {
  width: 1045px;
  height: 565px;
  margin-right: 230px;
  margin-left: 165px;
  margin-bottom: 64px;
}

.worktype__title {
  color: rgb(131, 136, 143);
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 284px;
  padding-bottom: 80px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.dumaloq {
  width: 31px;
  height: 31px;
  border: 2px solid rgb(14, 135, 132);
  background: rgb(254, 252, 247);
  border-radius: 20px;
}

.line {
  width: 360px;
  height: 1px;
  border: 2px solid rgb(253, 214, 186);
}

.worktype__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67px;
}

.worktype__item {
  width: 285px;
  height: 355px;
}

.worktype__number {
  color: rgb(253, 214, 186);
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 38px;
}

.worktype__title2 {
  color: rgb(51, 61, 75);
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 42px;
}

.worktype__text {
  color: rgb(51, 61, 75);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.sitefooter {
  background: rgb(44, 52, 62);
  width: 1280px;
  height: 120px;
  margin-right: 80px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}

.sitefooter__logo {
  width: 203px;
  margin-right: 103px;
  margin-left: 118px;
}

.sitefooter__img {
  width: 24px;
  margin-right: 24px;
}

.sitefooter__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitefooter__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitefooter__item {
  padding-right: 33px;
  color: rgb(131, 136, 143);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-align: left;
  text-transform: uppercase;
}

.sitefooter__item:hover {
  color: black;
}/*# sourceMappingURL=main.css.map */