
.ourcollection__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ourcollection__item{
margin-right: 30px;
}
.collection__title{
  color: rgb(51, 61, 75);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
padding-top: 30px;
padding-bottom: 24px;
}
.collection__text{
  color: rgb(51, 61, 75);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 200px;
}