.greatcoffee__container{
  width: 1281px;
  height: 600px;
  background-image: url(/img/Bitmap.jpeg);
  margin-top: 30px;
  margin-bottom: 160px;
}
.greatcoffee__content{
padding-top: 100px ;
padding-left: 84px;
padding-right: 650px;
}
.greatcoffee__title{
  color: rgb(254, 252, 247);
font-family: Fraunces;
font-size: 72px;
font-weight: 900;
line-height: 72px;
letter-spacing: 0px;
text-align: left;
}
.greatecoffee__text{
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
padding-right: 48px;
padding-bottom: 56px;
padding-top: 32px;
opacity: 0.8;
}
.greatecoffee__btn{
  padding: 17px 34px 16px 34px;
  color: rgb(254, 252, 247);
font-family: Fraunces;
font-size: 18px;
font-weight: 900;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
border-radius: 6px;
background: rgb(102, 210, 207);
border: none;
}
.greatecoffee__btn:hover{
  background-color: cadetblue;
}