.logo__container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.logo__list{
  display: flex;
  justify-content: space-between;
  width: 383px;
  margin-right: 80px;
}
.logo__link{
width: 236px;
flex-shrink: 0;
margin-left: 80px; 
}
.logo__item{
  color: rgb(131, 136, 143);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-align: left;
  text-transform: uppercase;
}
.logo__item:active{
  color: black;
}
.siteheader__logo{
width: 16px;
height: 16px;
background-image: url(../../img/hamburger.png);
background-repeat: no-repeat;
display: none;
border:none;
}

/* Tablet - Home */
@media only screen and (max-width:375px)
{
  .logo__list{
    display: none;
  }
  .logo__container{
    width: 689px;
    height: 26px;
  }
.logo__link{
width: 163px;
}
.siteheader__logo{
  display: inline-block;
}
} 