.greatcoffee__container{
  width: 1281px;
  height: 600px;
  background-image: url(/img/Bitmap.jpeg);
  margin-top: 30px;
}
.greatcoffee__content{
width: 493px;
height: 367px;
left: 165px;
right: 622px;
top: 230px;
bottom: 3px;
}
.greatcoffee__title{
  color: rgb(254, 252, 247);
font-family: Fraunces;
font-size: 72px;
font-weight: 900;
line-height: 72px;
letter-spacing: 0px;
text-align: left;
}